{% extends "layout.html" %}
{% block title %} Inicio {% endblock %}
{% block content %}
<div class="jumbotron">
  <h1 class="display-4">Bienvenido</h1>
  <p class="lead">En este sitio se recopilan datos obtenidos de una encuesta para determinar la precisión con la que el
    algoritmo k-means predice el signo zodiacal de una persona de acuerdo a sus respuestas.</p>
  <hr class="my-4">
  <a class="btn btn-primary btn-lg" href="https://forms.gle/qJ9151Dd3mHJbVqS8" target="_blank" role="button">Ir a
    encuesta</a>
</div>
{% endblock %}