{% extends "layout.html" %}
{% block title %} Registros {% endblock %}
{% block content %}

<script type="text/javascript">
    $(document).ready(function () {
        $('#listaRegistros').DataTable();
    });
</script>


<section class="section">
    
    <div class="columns">
        <div class="column">
            <h3 class="is-size-3">Registros</h3>
            <br>
            <div style="float: left;">
            <a href="{{url_for('formulario_agregar_signo')}}" class="button btn btn-primary is-success">Agregar registro</a>
            </div>
            <div aling="center" style="float: right;">
                <a href="{{ './static/data/exported_data.xlsx' }}" target="_blank">
                    <img src="{{ url_for('static', filename='img/xlsx.png')}}" style="height: auto; width:60px;">
                </a>
                <p><b>Exportar</b></p>
            </div>

            <br><br><br><br>
            <hr>
            <br>

            <table id="listaRegistros" class="table table-striped table-bordered" style="width:100%">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Signo</th>
                        <th>1</th>
                        <th>2</th>
                        <th>3</th>
                        <th>4</th>
                        <th>5</th>
                        <th>6</th>
                        <th>7</th>
                        <th>8</th>
                        <th>9</th>
                        <th>10</th>
                        <th>11</th>
                        <th>12</th>
                        <th>13</th>
                        <th>14</th>
                        <th>15</th>
                        <th>16</th>
                    </tr>
                </thead>
                <tbody>
                    {% for registro in registros %}
                    <tr>
                        <td>{{registro[0]}}</td>
                        <td>{{registro[1]}}</td>
                        <td>{{registro[2]}}</td>
                        <td>{{registro[3]}}</td>
                        <td>{{registro[4]}}</td>
                        <td>{{registro[5]}}</td>
                        <td>{{registro[6]}}</td>
                        <td>{{registro[7]}}</td>
                        <td>{{registro[8]}}</td>
                        <td>{{registro[9]}}</td>
                        <td>{{registro[10]}}</td>
                        <td>{{registro[11]}}</td>
                        <td>{{registro[12]}}</td>
                        <td>{{registro[13]}}</td>
                        <td>{{registro[14]}}</td>
                        <td>{{registro[15]}}</td>
                        <td>{{registro[16]}}</td>
                        <td>{{registro[17]}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <br>
    <hr>
    <h4>Número de signo zodiacal</h4>
    <div class="form-group">
        <select multiple class="form-control" id="exampleFormControlSelect2">
            <option>1. Capricornio</option>
            <option>2. Acuario</option>
            <option>3. Piscis</option>
            <option>4. Aries</option>
            <option>5. Tauro</option>
            <option>6. Geminis</option>
            <option>7. Cáncer</option>
            <option>8. Leo</option>
            <option>9. Virgo</option>
            <option>10. Libra</option>
            <option>11. Escorpio</option>
            <option>12. Sagitario</option>
        </select>
    </div>

    
    <br>
    <br>
    <h4>Guía de cada número</h4>
    <div class="form-group">
        <label for="exampleFormControlSelect2"><i>Caracteristica correspondiente a cada numero cuando la respuesta es 1 (true)</i></label>
        <select multiple class="form-control" id="exampleFormControlSelect2">
            <option>1. Líderes</option>
            <option>2. Críticos, Exigentes</option>
            <option>3. Amables, Carismativos, Solidarios</option>
            <option>4. Decidido, </option>
            <option>5. Cariñosos, Afectivos, Sensibles, Romaticos</option>
            <option>6. Extrovertidos</option>
            <option>7. Antisocial</option>
            <option>8. Analiticos</option>
            <option>9. Individualista</option>
            <option>10. Compulsivos</option>
            <option>11. Confiables, Leales, Honestos</option>
            <option>12. Optimistas, Alegres</option>
            <option>13. Energico, Curioso, aventurero</option>
            <option>14. Nerviosos, Inseguros, Impacientes</option>
            <option>15. Sencillos, Pacificos</option>
            <option>16. Organizados</option>
        </select>
    </div>

    <div class="form-group">
        <label for="exampleFormControlSelect2"><i>Caracteristica correspondiente a cada numero cuando la respuesta es 0 (false)</i></label>
        <select multiple class="form-control" id="exampleFormControlSelect2">
            <option>1. No líderes</option>
            <option>2. Flexibles, Tolerantes, Blandos</option>
            <option>3. Indiferentes</option>
            <option>4. Indecisos</option>
            <option>5. Frios, No Romaticos</option>
            <option>6. Introvertidos, Timidos</option>
            <option>7. Sociable, Amigable</option>
            <option>8. Artisticos, Creativos, Soñadores</option>
            <option>9. Trabajo en equipo, Colaborativos</option>
            <option>10. Reflexivos</option>
            <option>11. Serios, Prudentes, Deshonestos</option>
            <option>12. Negativos, Melancolicos</option>
            <option>13. Aburrido</option>
            <option>14. Tranquilos, Seguros, Pacientes</option>
            <option>15. Egocentricos, Agresivos</option>
            <option>16. Desorganizados</option>
        </select>
    </div>

</section>

<br><br><br><br>

{% endblock %}